.App {
  text-align: center;
  height: 700px;
  width: 700px;
  margin: auto;
  border: 5px solid black;
  background-image: url('./picture/rsz_meditation-mindfulness-1.jpg') ;
}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

